.timer .low {
    color: rgb(255, 0, 0);
    font-size: 5em;
    font-weight: bold;
}

.timer .med {
    color: rgb(255, 115, 0);
    font-size: 5em;
    font-weight: bold;
}

.timer .high {
    color: rgb(166, 255, 0);
    font-size: 5em;
    font-weight: bold;
}

.timer span {
    transition: all 1s;
    text-align: left;
     display: block;
}
.progress-bar {
    display: block;
    width: 285px;
    height: 20px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin: 0.4em;
    box-shadow:  0.1em 0.2em 0.2em 0.1em #ffffffa2, 0.1em 0.2em 0.2em 0.1em inset #a7a7a752 ;
}

.progress {
    height: 100%;
    background-color: #1762e5c2; /* Change color as desired */
    transition: width 0.1s;
}
