.grid {
    display: flex;
    flex-direction: column;
  }
  .grid-row {
    display: flex;
  }
  .grid-cell {
    min-width: 50px;
    min-height: 50px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(255, 255, 245);
  }
  .circle {
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .square {
    background-color: blue;
    width: 30px;
    height: 30px;
  }
  .valid {
    background-color: #d7f8dc;
    border-color: #1bd65a;
  }
  .invalid {
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }