.level-indicator {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  /* Level Circle */
  .level-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #d3d3d3; /* Default color for non-highlighted circles */
    transition: background-color 0.3s ease;
    box-shadow:  0.1em 0.2em 0.2em 0.1em #ffffffa2, 0.1em 0.2em 0.2em 0.1em inset #a7a7a752 ;
  }
  
  .level-circle.highlighted {
    background-color: #1762e5c2; /* Color for highlighted circles */
  }
  